.archives {
  width: 90%;
  margin: 40px auto;
  .archives-total {
    position: relative;
    top: 4px;
  }
  .archives-item {
    position: relative;
    margin: 30px 0;
    overflow: hidden;
    z-index: 2;
  }
  .archives-year {
    font-weight: bold;
    margin: 10px 20px;
    &::before {
      content: " ";
      position: absolute;
      left: 0;
      width: 10px;
      height: 10px;
      margin-left: -1px;
      margin-top: 8px;
      background: #555;
      opacity: 0.5;
      border: 1px solid #fff;
      border-radius: 50%;
    }
  }
}
.archives-info {
  list-style: none;
  font-size: 14px;
  line-height: 20px;
  position: relative;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  transition-property: border;
  .archives-info-meta {
    margin-left: 20px;
    padding: 4px 0;
    overflow: hidden;
    border-bottom: 1px dashed #ccc;
    &::before {
      content: " ";
      position: absolute;
      left: 0;
      top: 8px;
      width: 8px;
      height: 8px;
      background: #bbb;
      border-radius: 50%;
      border: 1px solid #fff;
      transition-duration: 0.2s;
      transition-timing-function: ease-in-out;
      transition-delay: 0s;
      transition-property: background;
    }
    &:hover {
      border-bottom: 1px dashed #2c3f51;
      &::before {
        background: #2c3f51;
      }
    }
    a {
      color: #2c3f51;
      text-decoration: none;
      overflow:hidden;
      max-width:100%;
      display:inline-block;
      white-space:nowrap;
      text-overflow:ellipsis;
    }
  }
  time {
    margin-right: 4px;
    color: #999;
    display: inline-block;
  }
}

