.douban-tabs {
  margin-bottom: 15px;
  margin-top: 55px;
  line-height: 2em;

  .douban-tab {
    padding: 5px;
    text-decoration: none !important;

    &:hover {
      cursor: pointer;
    }

  }

  .douban-active {
    background: #657b83;
    color: #fff !important;
  }

}


.douban-list {
  .douban-item {
    position: relative;
    clear: both;
    min-height: 160px;
    padding: 10px 0;
    border-bottom: 1px #ddd solid;
  }

  .douban-picture {
    position: absolute;
    left: 0;
    top: 10px;
    width: 100px;

    img {
      max-width: 100%;
    }
  }

  .douban-info {
    padding-left: 120px;
  }

  .douban-pub {
    font-size: 12px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .douban-meta {
    font-size: 12px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .douban-comments {
    font-size: 14px;
  }
}

.douban-pagination {
  margin-top: 15px;
  text-align: center;
  margin-bottom: 10px;

  .douban-button {
    padding: 5px;
    text-decoration: none !important;

    &:hover {
      cursor: pointer;
      background: #657b83;
      color: #fff !important;
      opacity: 1;
    }
  }
}
