<footer class="footer">
  <div class="footer__copyright">
    {{#if @custom.icp_name }}
      <span>
        <a href="{{@custom.icp_link}}" target="_blank">{{@custom.icp_name}}</a>    
      </span>
    {{/if}}
    <span style="margin-right:10px">
        <a href="https://ghost.org">Published with Ghost</a>
    </span>
    <span style="margin-right:10px">
      <a href="https://github.com/mythsman/mno">Mno</a>
    </span>
    <span style="float: right;"><a href="https://creativecommons.org/licenses/by/4.0/deed.en"><img src="{{asset 'images/cc-by.svg'}}" /></a></span>
  </div>
</footer>
