<footer class="footer">
  <div class="footer__copyright">
   <span>备案号 <a href="http://www.beian.miit.gov.cn" target="_blank">苏ICP备15055270号-1</a></span>
   <span style="float: right;">© 2019  All rights reserved.</span>
  </div>
</footer>
