<nav class="cover-navigation navigation--social">
  <ul class="navigation" id="social_navigation">
  </ul>
</nav>
<script>
(function(){
  var social_list = document.getElementById("social_navigation")
  for (let name in mno.social){
    let item = mno.social[name]

    let line = document.createElement("li")
    line.className = "navigation__item"

    let link = document.createElement("a")
    link.href = item.link
    link.title = item.name
    link.target = "_blank"
    
    let ico = document.createElement("i")
    ico.className="social iconfont icon-"+name
    link.appendChild(ico)
    
    let spn = document.createElement("span")
    spn.className = "label"
    spn.innerHTML = name
    link.appendChild(spn)

    line.appendChild(link) 
    social_list.appendChild(line)
  }

})()
</script>
