<nav class="cover-navigation navigation--social">
  <ul class="navigation">

  <!-- Github -->
  <li class="navigation__item">
    <a href="https://github.com/mythsman" title="@mythsman" target="_blank">
      <i class='social iconfont icon-github'></i>
      <span class="label">Github</span>
    </a>
  </li>

  <!-- Douban -->
  <li class="navigation__item">
    <a href="https://www.douban.com/people/mythsman/" title="@mythsman" target="_blank">
      <i class='social iconfont icon-douban '></i>
      <span class="label">Douban</span>
    </a>
  </li>

  <!-- QQ -->
  <li class="navigation__item">
    <a href="tencent://message/?Menu=yes&uin=1276077732" title="@阿尔卑斯君°" target="_blank">
      <i class='social iconfont icon-qq '></i>
      <span class="label">Douban</span>
    </a>
  </li>

  <!-- Bilibili -->
  <li class="navigation__item">
    <a href="https://space.bilibili.com/101787792" title="@mythsman" target="_blank">
      <i class='social iconfont icon-bilibili'></i>
      <span class="label">Bilibili</span>
    </a>
  </li>

  <!-- NetEase -->
  <li class="navigation__item">
    <a href="https://music.163.com/#/user/home?id=261910312" title="@mythsman" target="_blank">
      <i class='social iconfont icon-netease'></i>
      <span class="label">Netease</span>
    </a>
  </li>

  <!-- RSS -->
  <li class="navigation__item">
    <a href="{{@site.url}}/rss/" rel="author" title="RSS" target="_blank">
      <i class='social fa fa-rss'></i>
      <span class="label">RSS</span>
    </a>
  </li>

  <!-- Email -->
  <li class="navigation__item">
    <a href="mailto:dqz48548263@qq.com" title="Mail me">
      <i class='social fa fa-envelope'></i>
      <span class="label">Email</span>
    </a>
  </li>

  </ul>
</nav>
