<nav class="cover-navigation navigation--social">
  <ul class="navigation" id="social_navigation">
  </ul>
</nav>
<script>
  (function () {
    function build_line(name, url) {

      let line = document.createElement("li")
      line.className = "navigation__item"

      let link = document.createElement("a")
      link.href = url
      link.title = name
      link.target = "_blank"

      let ico = document.createElement("i")
      ico.className = "social iconfont icon-" + name
      link.appendChild(ico)

      line.appendChild(link)

      return line;
    }

    let social_list = document.getElementById("social_navigation")

    {{#if @custom.social_config}}
      let list = {{{@custom.social_config}}}
      if (list) {
        list.forEach(item => {
          if (item.name && item.link) {
            social_list.appendChild(build_line(item.name, item.link))
          }
        })
      }
    {{/if}}

  })()
</script>
