{{!< default}}

{{#post}}
  <article class="post-container post-container--single">
    <header class="post-header">
      <h1 class="post-title">{{{title}}}</h1>
    </header>
    <section class="{{post_class}}">
      {{content}}
    </section>
  </article>

 {{> comment }}

{{/post}}

<script defer src="{{asset 'js/third_party/highlight-11.4.0.min.js'}}" onload="hljs.highlightAll()"></script>
