@font-face {
  font-family: "iconfont"; /* Project id 341767 */
  src: url('iconfont.woff2?t=1624706258014') format('woff2'),
       url('iconfont.woff?t=1624706258014') format('woff'),
       url('iconfont.ttf?t=1624706258014') format('truetype'),
       url('iconfont.svg?t=1624706258014#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mail:before {
  content: "\e606";
}

.icon-rss:before {
  content: "\e7b9";
}

.icon-steam:before {
  content: "\f23b";
}

.icon-bilibili:before {
  content: "\e64f";
}

.icon-qq:before {
  content: "\e6d8";
}

.icon-douban:before {
  content: "\e651";
}

.icon-github:before {
  content: "\e691";
}

.icon-netease:before {
  content: "\e658";
}

.icon-wechat:before {
  content: "\e635";
}

